@media only screen and (min-width: 768px) {
    /* Header styles */
    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
    }

    .container {
        margin: 0;
    }

    .large-logo {
        display: block;
        max-width: 100%;
        height: auto;
    }

    .small-logo {
        display: none;
    }

    /* Navigation styles */
    nav {
        display: block;
        background-color: transparent;
    }

    nav ul {
        display: flex;
    }

    nav ul li {
        margin-left: 1rem;
    }

    .open {
        text-decoration: underline;
        text-decoration-color: black;
    }

    #menu-toggle {
        display: none;
    }

    /* Main content styles */
    main {
        padding: 2rem;
    }

    #hero-img img {
        height: 100%;
    }

    .home-cards {
        display: grid;
        grid-template-columns: 2fr 1fr 1fr;
        justify-content: center;
    }

    .home-cards section {
        margin: 1rem 5px;
        padding: 0.5rem;
        /* border: red 1px solid; */
    }

    #events {
        height: 30vh;
        grid-row: 1/2;
    }

    #curent-weather {
        grid-row: 1/2;
    }

    #weather-forecast {
        grid-row: 1/2;
    }

    #spotlight {
        grid-row: 2/3;
        grid-column: 1/4;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    }

    /* Grid view styles */
    #cards.grid-view {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 1rem;
    }

    #cards.grid-view .member-card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    #cards.grid-view .member-card img {
        max-width: 100px;
        height: auto;
        margin-bottom: 1rem;
    }

    /* List view styles */
    #cards.list-view .member-card {
        grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
        padding: 1rem;
    }

    #cards.list-view .member-card h2 {
        grid-column: auto;
    }

    /* join page styles */
    .container[role="main"] {
        display: grid;
        grid-template-columns: 3fr 2fr;
        gap: 2rem;
        align-items: start;
    }

    form {
        grid-column: 1 / 2;
        display: grid;
        /* grid-template-columns: 1fr 1fr; */
        gap: 1rem;
        margin: 1rem;
    }

    form h2 {
        grid-column: 1 / -1;
    }

    form label {
        display: flex;
        flex-direction: column;
    }

    .membership-cards {
        grid-column: 2 / 3;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        height: 95%;
        padding: 1rem;
    }

    .member-cards h2 {
        margin-top: 0;
    }

    .card {
        flex: 1;
    }

    label {
        display: contents;
    }

    input[type="subtmit"] {
        grid-column: 2 / 3;
        justify-self: end;
    }

    .card {
        transition: trasnform 0.3s ease, box-shadow 0.3s ease;
    }

    .card:hover {
        transform: translateY(-5px);
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    }

    .discover-layout {
        flex-direction: row;
    }

    .sidebar {
        flex: 1;
    }

    .gallery {
        flex: 2;
    }

    .gallery img:hover {
        transform: scale(1.05);
        transition: transform 0.3s ease-in-out;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    }

    footer {
        display: flex;
        align-items: center;
    }
}
